body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

a {
    color: #009688;
}

.header-container{
    background-color: #009688;
    color: white;
}

.header-container a{
    color: white;
}

.container{
    width: 1024px;
    margin: 0 auto;
    padding: 20px 10px;
}
@media (max-width: 1024px) {
    .container{
        width: 100%;
        margin: 0;
    }
}

.logo{
    font-weight: bold;
    font-size: 60px;
}

.post {
    border-bottom: 1px solid rgb(201, 201, 201);
    margin-bottom: 18px;
}

.post h1{
    margin-bottom: 0;
}

.post h1 a{
    color: black;
}

.post h1 a:hover{
    text-decoration: underline;
}

.post .meta{
    font-size: 14px;
}

.footer{
    margin-top: 48px;
    text-align: center;
}