<!DOCTYPE html>
<html>
    <head>
        <title>{{global.title}}</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
    <div class="header-container">
        <div class="container">
            <div class="logo">
                <a href="/">{{global.title}}</a>
            </div>
            <div class="logo-sub">
                {{global.description}}
            </div>
        </div>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    </body>
</html>