body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.header-container{
    background-color: #009688;
    color: white;
}

.header-container a{
    text-decoration: none;
    color: white;
}

.header-container a:hover{
    text-decoration: underline;
}

.container{
    width: 1024px;
    margin: 0 auto;
    padding: 20px 10px;
}

.logo{
    font-size: 60px;
}

.post h1 a{
    color: black;
    text-decoration: none;
}

.post h1 a:hover{
    text-decoration: underline;
}