{% extends "template/index.njk" %}

{% block content %}
<div class="post">
    <h1>{{meta.title}}</h1>
    <div class="meta">{{meta.author}} | {{meta.date.toLocaleDateString()}}</div>
    <div>{{content | safe}}</div>
</div>
{% endblock %}